@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Merriweather+Sans&family=Roboto+Slab&display=swap');

body{
    background-color: black;
}
h1.samph1{
    margin-top: 100px;
    font-family: 'Comic Neue', cursive;
    color: orange
}
p.sampp1{
    color:white;
    font-family:  "Merriweather Sans" , sans-serif;
    margin-bottom: 60px;
}
p.crunch{
    color:white;
    font-family:  "Merriweather Sans" , sans-serif;
    margin-bottom: 25px;
    margin-top: 25px;
}
p.crunch1{
    color:white;
    font-family:  "Merriweather Sans" , sans-serif;
    margin-bottom: 70px;
}
div.projects{
    text-align: center;
}
h1.others{
    margin-top:85px;
    margin-bottom: 55px;
    color: white;
    font-family: 'Comic Neue', cursive;
}
p.myw{
    color:white;
    font-family:  "Merriweather Sans" , sans-serif;
    margin-bottom: 60px;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }