
/*.parent-element {
    display: flex;
    color: black;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium',sans-serif;
    margin-top: 75px;
    font-size: 20px;
    font-style: bold;
    color: aquamarine;
    margin-left: 200px;
    }
    #contact {
    margin-right: 25px;
    }*/

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        margin-right: 25px;
        margin-left: 100px;
        margin-top: 75px;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
body{
    background-color: gray;
}