@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Merriweather+Sans&display=swap');

    ul.Options {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 100px;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color:white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: large;
      }
      
      li a:hover {
        background-color: #111;
      }
body{
    background-image: url("img2.jpg");
}
ul.dev{
    text-align: center;
    margin-top: 500px;
    color: rgb(12, 80, 218);
    font-size: smaller;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
h1.welcome{
  text-align: center;
  font-size: 50px;
  color: #333;
  font-family: 'Comic Neue', cursive;
}
h1.intro,h2.intro{
  text-align: center;
  margin-top: 100px;
  padding: -50px;
  color: rgb(255, 255, 255);
  font-family: "Merriweather Sans" , sans-serif;
}